<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hngy.mapper.ClassesMapper">


    <insert id="addClasses">
        insert into classes(teacher_id, choose_max, choose_cur_num, room, cour_time, cmark, cname, ctype)
        values (#{teacherId}, #{chooseMax}, #{chooseCurNum}, #{room}, #{courTime}, #{cmark}, #{cname}, #{ctype})
    </insert>

    <insert id="insertBatch">
        insert into classes(teacher_id, choose_max, choose_cur_num, room, cour_time, cmark, cname,ctype)
        values
        <foreach collection="classes" item="item" separator=",">
            (#{item.teacherId}, #{item.chooseMax}, #{item.chooseCurNum}, #{item.room}, #{item.courTime}, #{item.cmark}, #{item.cname},#{item.ctype})
        </foreach>
    </insert>
    <resultMap id="listCourse" type="classes">
        <result property="id" column="id"/>
        <association property="chooseCurNum" column="id" select="com.hngy.mapper.ClassesMapper.countStudent"/>
    </resultMap>
    <select id="listAll" resultMap="listCourse">
        select * from classes
    </select>
    <select id="countStudent" resultType="java.lang.Integer">
        SELECT COUNT(*) FROM student_classes WHERE student_classes.cs_id=#{courseId}
    </select>
</mapper>