<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngy.mapper.StudentMapper">

    <insert id="addStudent">
        insert into student(sno, username, sex, password, department, jiguan, mark, email, image, tel, maxClasses)
        values (#{sno}, #{username}, #{sex}, #{password}, #{department}, #{jiguan}, #{mark}, #{email}, #{image}, #{tel},
                #{maxClasses})
    </insert>
    <insert id="insertBatch">
        insert into student(sno,username, sex, password, department, jiguan, mark, email, tel, maxClasses) values
        <foreach collection="students" item="item" separator=",">
            (#{item.sno}, #{item.username}, #{item.sex}, #{item.password}, #{item.department},#{item.jiguan},
            #{item.mark}, #{item.email}, #{item.tel},#{item.maxClasses})
        </foreach>
    </insert>
    <insert id="insertStudentClasses">
        insert into student_classes(st_id, cs_id) values(#{sno}, #{courseId})
    </insert>


    <select id="listAll" resultType="student">
        select *
        from student
    </select>

    <select id="getStudent" resultType="student">
        select *
        from student
        where sno = #{sno}
    </select>

    <select id="getStudentCourse" resultType="com.hngy.model.StudentCourseInfo">
        SELECT *
        FROM student_classes as sc
        LEFT JOIN classes c ON sc.cs_id = c.id
        WHERE st_id = #{sno}
        AND ctype = #{ctype}
        <if test="cname!=null">
            AND cname like concat('%',#{cname},'%')
        </if>
    </select>

    <resultMap id="studentElectiveCourse" type="studentElectiveCourse">
        <result property="id" column="id"/>
        <association property="chooseCurNum" column="id" select="com.hngy.mapper.ClassesMapper.countStudent"/>
    </resultMap>

    <select id="getElectiveCourse" resultMap="studentElectiveCourse">
        SELECT
            *
        FROM
            classes c
                LEFT JOIN teacher t ON c.teacher_id = t.tno
        WHERE
            ctype = 2
          AND c.id NOT IN (
            SELECT
                cs_id
            FROM
                student_classes sc
            WHERE
                sc.st_id = #{sno}
        )
    </select>

    <update id="changePassword">
        update student
        set password=#{newPassword}
        where sno = #{sno}
          and password = #{oldPassword}
    </update>

</mapper>
