<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngy.mapper.TeacherMapper">
	<!-- 添加教师信息记录 -->
	<insert id="addTeacher" parameterType="teacher">
		insert into teacher(tno, tname, age, email, tel, password, teaType) values
		(#{tno},#{tname},#{age},#{email},#{tel},#{password},#{teaType})
	</insert>
	<insert id="insertBatch">
		insert into teacher(tno, tname, age, email, tel, teaType) values
		<foreach collection="teachers" item="item" separator=",">
			(#{item.tno},#{item.tname},#{item.age},#{item.email},#{item.tel},#{item.teaType})
		</foreach>
	</insert>

	<!-- 按照查询条件分页查询教师信息记录 -->
	<select id="listAll" resultMap="teacherMap" >
		select * from teacher
	</select>
	<resultMap id="teacherMap" type="teacher">
        <id property="teacherNumber" column="teacherNumber" />
    </resultMap>

    <!-- 按照查询条件查询所有教师信息记录 -->
	<select id="queryTeacherList" resultMap="teacherMap" >
		select t_teacher.* from t_teacher ${where}
	</select>

    <!-- 按照查询条件的教师信息记录数 -->
	<select id="queryTeacherCount" resultType="int">
		select count(*) from t_teacher ${where}
	</select>

	<!-- 根据主键查询某个教师信息记录 -->
	<select id="getTeacher" parameterType="string" resultMap="teacherMap">
		select * from t_teacher where t_teacher.teacherNumber = #{teacherNumber}
	</select>
    <select id="selectOneByTno" resultType="teacher">
		select * from teacher where tno=#{tno}
	</select>

    <!-- 更新教师信息记录 -->
	<update id="updateTeacher" parameterType="teacher">
		update teacher set age=#{age},email=#{email},tel=#{tel} where tno = #{tno}
	</update>
	<update id="changePassword">
		update teacher set password=#{newPassword} where tno=#{tno} and password=#{oldPassword}
	</update>

	<!-- 删除教师信息记录 -->
	<delete id="deleteTeacher" parameterType="string">
		delete from t_teacher where teacherNumber=#{teacherNumber}
	</delete>

</mapper>
