<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hngy.mapper.TeacherMapper">

    <insert id="addTeacher" parameterType="teacher">
        insert into teacher(tno, tname, age, email, tel, password, teaType)
        values (#{tno}, #{tname}, #{age}, #{email}, #{tel}, #{password}, #{teaType})
    </insert>
    <insert id="insertBatch">
        insert into teacher(tno, tname, age, email, tel, teaType) values
        <foreach collection="teachers" item="item" separator=",">
            (#{item.tno},#{item.tname},#{item.age},#{item.email},#{item.tel},#{item.teaType})
        </foreach>
    </insert>


    <select id="listAll" resultMap="teacherMap">
        select *
        from teacher
    </select>

    <select id="selectOneByTno" resultType="teacher">
        select *
        from teacher
        where tno = #{tno}
    </select>

    <resultMap id="listCourse" type="classes">
        <result property="id" column="id"/>
        <association property="chooseCurNum" column="id" select="com.hngy.mapper.ClassesMapper.countStudent"/>
    </resultMap>
    <select id="selectCourseByCtype" resultMap="listCourse">
        select *
        from classes
        where teacher_id = #{tno}
          and ctype = #{ctype}
    </select>

    <select id="selectRequireCourseStudent" resultType="studentClasses">
        SELECT sno, username, cs_id, cscore
        FROM student_classes as sc
                 LEFT JOIN student as s ON sc.st_id = s.sno
        WHERE sc.cs_id = #{courseId}
    </select>

    <!-- 更新教师信息记录 -->
    <update id="updateTeacher" parameterType="teacher">
        update teacher
        set age=#{age},
            email=#{email},
            tel=#{tel}
        where tno = #{tno}
    </update>

    <update id="updateBatchScore">
        <foreach collection="scores" item="item" separator=";">
            update student_classes set cscore=#{item.cscore} where st_id=#{item.sno} and cs_id=#{item.csId}
        </foreach>
    </update>

    <update id="changePassword">
        update teacher
        set password=#{newPassword}
        where tno = #{tno}
          and password = #{oldPassword}
    </update>


</mapper>
